<IfModule mod_mime.c>
  AddEncoding gzip .gz
  AddType application/javascript .js.gz
  AddType text/css .css.gz
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.js\.gz$">
    Header set Content-Encoding gzip
    Header set Content-Type application/javascript
    Header set Vary "Accept-Encoding"
    Header set Cache-Control "public, max-age=31536000"
  </FilesMatch>

  <FilesMatch "\.css\.gz$">
    Header set Content-Encoding gzip
    Header set Content-Type text/css
    Header set Vary "Accept-Encoding"
    Header set Cache-Control "public, max-age=31536000"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Gzip for JS
  RewriteCond %{HTTP:Accept-encoding} gzip
  RewriteCond %{REQUEST_FILENAME}\.gz -s
  RewriteRule ^(.*)\.js$ $1\.js\.gz [QSA,L]

  # Gzip for CSS
  RewriteCond %{HTTP:Accept-encoding} gzip
  RewriteCond %{REQUEST_FILENAME}\.gz -s
  RewriteRule ^(.*)\.css$ $1\.css\.gz [QSA,L]

  # SPA routing
  RewriteBase /learn-angular-oauth/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /learn-angular-oauth/index.html [L]
</IfModule>
